/* You can add global styles to this file, and also import other style files */
.button {
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.button:hover{
    background: rgb(35, 105, 117); 
}
.secondmenu{
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 30px;
}