/* You can add global styles to this file, and also import other style files */
header {
  margin-bottom: 20px;
}

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 60px;
}

.footer {
  position: relative;
  margin-top: -60px;
  height: 60px;
  clear: both;
  padding-top: 20px;
  background-color: #343a40;
  color: white;
}
